.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: calc(100vh - 50px);
  overflow: hidden;
}

aside {
  background: #e0e0e0;
  height: 100%;
  overflow-y: auto;
}

main {
  height: 100%;
  overflow-y: auto;
}

.aside-title {
  background: #555;
  color: white;
  padding: 8px;
  border-bottom: 1px solid #555;
  small {
    cursor: pointer;
  }
}

.content-title {
  color: #555;
  padding: 8px;
  border-bottom: 1px solid #555;
}

.content {
  padding: 8px;
}

table {
  width: 100%;
  border-spacing: unset;
  th {
    text-align: left;
    background: #e0e0e0;
  }
  th,
  td {
    padding: 4px 6px;
  }
  tr {
    &:nth-child(even) {
      background: #f4f4f4;
    }
  }
}

.action {
  display: grid;
  justify-content: flex-end;
  padding: 8px;
}
