<div class="container">
  <h1>FHIR JSON</h1>
  <div>URL Resource:</div>
  <div class="url">
    <input type="text" value="Patient/1412083" #url>
    <button (click)="loadResource(url.value)">LOAD</button>
  </div>
  <div class="view" *ngFor="let item of view">
    <div class="cell">{{item.name}}</div>
    <div class="cell">
      <pre><code>{{item.resolver}}</code></pre>
    </div>
  </div>
  <div class="json">
    <pre>
      <code>
        {{resource | json}}
      </code>
    </pre>
  </div>
</div>