:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.container {
    margin: 5px;
}

.container h1{
    margin: 0px;
}

.url {
    display: flex;
    padding: 10px 0;
}

.url input {
    flex: auto;
    height: 24px;
}

.url button {
    width: 100px;
}

.view {
    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 5px 5px
}

.cell {
    border: 1px solid gray;
    background: aquamarine;
}